body{
background-image: url(./pictures/sky-with-clouds-sun-is-setting_1036536-10813.avif);
background-repeat: no-repeat;
background-size: auto;
background-position: 100%;
outline: none;
box-sizing: border-box;
}
.container{
padding:0 1rem;
margin: 0 auto;
}
.inputBox{
position: relative;
left: 26rem;
top: 10rem;
width: 20rem;
height: 2.5rem;
text-align: center;
border-radius: 1rem;
outline: none;
border: none;
color: deepskyblue;
background-color: rgb(57, 205, 222);
cursor: pointer;
}
.inputBox:hover{
transition: all 350ms ease-in-out;
border: 3px solid #202cb1;
}
.citesAndCountriesPart{    
position: relative;
left: 26rem;
top: 10rem;
margin: 0.5rem;
}
.countriesName , .cityName{
width: 20rem;
height: 2.5rem;
background-color: aqua;
text-align: center;
border-radius: 1rem;
cursor: pointer;
outline: none;
border: none;
}